<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../styles/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meuble&Co</title>
</head>

<body>

    <nav class="navbar">
        <ul>
            <a class="logo" href="../index.html"><img class="imgLogo" src="../images/logo.jpg" alt="Logo Meuble&Co"></a>
            <li><a href="../index.html">Accueil</a></li>
            <li><a href="horaires.html">Horaires</a></li>
            <li class="active"><a href="contact.html">Contact</a></li>
        </ul>
    </nav>

</body>
</html>